<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kraków</key>
	<array>
		<dict>
			<key>przewoznik</key>
			<string>Car-o</string>
			<key>cena</key>
			<string>1,79</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>Mega</string>
			<key>cena</key>
			<string>1,80</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>Partner</string>
			<key>cena</key>
			<string>1,80</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
	</array>
	<key>Poznań</key>
	<array>
		<dict>
			<key>przewoznik</key>
			<string>M1</string>
			<key>cena</key>
			<string>1,74</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>Hallo</string>
			<key>cena</key>
			<string>1,80</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
	</array>
	<key>Warszawa</key>
	<array>
		<dict>
			<key>przewoznik</key>
			<string>Eko Cab</string>
			<key>cena</key>
			<string>1,40</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>800 400 400</string>
			<key>cena</key>
			<string>2,20</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>Number One</string>
			<key>cena</key>
			<string>1,19</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
	</array>
	<key>Wrocław</key>
	<array>
		<dict>
			<key>przewoznik</key>
			<string>Fenix</string>
			<key>cena</key>
			<string>2,40</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>Wicar</string>
			<key>cena</key>
			<string>2,40</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>Mini Radio Taxi</string>
			<key>cena</key>
			<string>2,50</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>WPT</string>
			<key>cena</key>
			<string>2,50</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
	</array>
	<key>Łódź</key>
	<array>
		<dict>
			<key>przewoznik</key>
			<string>800 400 400</string>
			<key>cena</key>
			<string>2,16</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
		<dict>
			<key>przewoznik</key>
			<string>Delta-Tele</string>
			<key>cena</key>
			<string>2,16</string>
			<key>telefon</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
